# PYTHON RELATED CACHES
__pycache__
*/__pycache__
*/__pycache__/*

# VS CODE RELATED FILES AND FOLDERS
.vscode
.vscode/*

# C HEADER RELATED FILES
*/*.h.gch

# RUNTIME FILES
a.exe
a.out

# EXTRA BIG SIZED FILES
Data/*

# USER SPECIFIC FILES
Extract_Data/files.txt